%nav.font-sans.bg-white.text-center.flex.justify-between.my-4.mx-auto.container.overflow-visable
  = link_to image_tag('ca_basic_logo_320x40.png', class: 'h-6 rounded-full'), root_path, class: 'block text-left'
  %ul.text-sm.text-grey-dark.list-reset.flex
    %li
      = link_to 'For Recruiters', '#', class: 'ca-header-link'
    %li.pr-2
      = link_to 'Pricing' , '#', class: 'ca-header-link'
    %li.pr-2
      = link_to 'FAQs' , '#', class: 'ca-header-link'
    %li.pr-2
      = link_to 'About Us' , page_path('about'), class: 'ca-header-link'
    %li.pr-2
      = link_to 'Employers' , page_path('employers'), class: 'ca-header-link'
    - if user_signed_in?
      %li
        = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'ca-button'
    - else
      %li.pl-2.border-l
        = link_to 'Log In' , new_user_session_path, class: 'ca-button', remote: true
      %li
        = link_to 'Sign Up', new_user_registration_path, class: 'ca-button', remote: true
      %li
        = link_to 'LinkedIn', user_linkedin_omniauth_authorize_path, class: 'ca-button'
      %li
        = link_to 'CraftEd', user_crafted_oauth_omniauth_authorize_path(role: :member), class: 'ca-button'

  
