!!!
%html.h-full
  %head
    %meta{content: 'text/html; charset=UTF-8', http: {equiv: "Content-Type"}}/
    %title CraftEd - Outboarding
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: {'turbolinks-track' => 'reload'}
    = javascript_include_tag 'application', data: {'turbolinks-track' => 'reload'}
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
    %script{src: 'https://js.stripe.com/v3/'}

  %body.flex.flex-col.h-full
    = render partial: 'partials/header'
    %section.flex-1.my-8.container.m-auto.max-w-xl 
      = alert || notice
      #content
        = yield
      #added_content
    .pin-b
      = render 'cookies_eu/consent_banner'
      = render partial: 'partials/footer'
      