
.members
    - @members.each do |member|
        %div{id: dom_id(member)}
            .max-w-md.w-full.lg:flex
                .h-48.lg:h-auto.lg:w-48.flex-none.bg-cover.rounded-t.lg:rounded-t-none.lg:rounded-l.text-center.overflow-hidden{style: "background-image: url('https://tailwindcss.com/img/card-left.jpg')"}
                .border-r.border-b.border-l.border-grey-light.lg:border-l-0.lg:border-t.lg:border-grey-light.bg-white.rounded-b.lg:rounded-b-none.lg:rounded-r.p-4.flex.flex-col.justify-between.leading-normal
                .mb-8
                    %p.text-sm.text-grey-dark.flex.items-center
                        .text-black.font-bold.text-lg.text-center
                            = member.display_name
                        .text-black.text-sm.text-center
                            = "Age: #{member.age}"
                            %br
                            = "#{member.gender}"
                        %br
                            %p.text-grey-darker.text-base.text-center
                                = link_to "View profile", member_path(member), class: 'ca-button'
%br

