.members
    - @members.each do |member|
        %div{id: dom_id(member)}
        .container
            = member.display_name
            = member.gender
            = "Age: #{member.age}"
            = link_to "View profile", member_path(member)
